<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>HTML Iframes</h2>
    <p style="background-color: aqua;">You can use the height and width attributes to specify the size of the iframe:</p>
    <a href="http://www.daeguoracle.com/" target="main_frame">Frame</a>
    <iframe name="main_frame" src="demo_iframe.html" height="500" width="1000"></iframe>

</body>

</html>